{% extends "bootstrap/base.html" %}
{% block title %}Network Resource Manager{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <h1>Resource Status</h1>

    <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Resource Name</th>
            <th>Resource Address</th>
            <th>Resource Type</th>
            <th>Resource Allocatable?</th>
            <th>Resource Allocated?</th>
            <th>Allocated To</th>
            <th>Allocated Address</th>
            <th>Allocated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% for resource in resources %}
        <tr>
            <th scope="row"> {{ resource.id }} </th>
            <td>{{ resource.resource_name }}</td>
            <td>{{ resource.resource_address }}</td>
            <td>{{ resource.resource_type }}</td>
            <td>{{ resource.allocatable }}</td>
            <td>{{ resource.allocated }}</td>
            <td>{{ resource.allocated_to_id }}</td>
            <td>{{ resource.allocated_to_address }}</td>
            <td>{{ resource.allocated_at }}</td>
            <td><a type="button"
                        class="btn btn-danger"
                        value="{{ resource.id }}"
                        name="remove"
                        href="/remove/{{ resource.id }}"
                        method="POST" >Remove</a></td>

      </tr>
    {% endfor %}
        <tr>
            <form method="POST" action="/add">
            <th scope="row"> # </th>
            <td><input type="text" name="resource_name" placeholder="Resource Name"></td>
            <td><input type="text" name="resource_address" placeholder="Resource Address"></td>
            <td><input type="text" name="resource_type" placeholder="Resource Type"></td>
            <td><center><input type="checkbox" name="allocatable" ></center></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-success">Add</button></td>
            </form>

      </tr>
    </tbody>
    </table>


    <h2>Journal Entries</h2>
        <table class="table">
    <thead>
        <tr>
            <th>Event Time</th>
            <th>Event Action</th>
            <th>Resource</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <th scope="row"> {{ event.event_time }} </th>
            <td>{{ event.event_action }}</td>
            <td>{{ event.event_resource_id }}</td>
            <td>{{ event.event_data }}</td>

      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
